@font-face {
    font-family: 'Cygre';
    src: url('/assets/fonts/Cygre/Cygre-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cygre';
    src: url('/assets/fonts/Cygre/Cygre-BookIt.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Circe';
    src: url('/assets/fonts/Circe/Circe-Regular.eot');
    src: local('Circe'), local('Circe-Regular'),
    url('/assets/fonts/Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Circe/Circe-Regular.woff2') format('woff2'),
    url('/assets/fonts/Circe/Circe-Regular.woff') format('woff'),
    url('/assets/fonts/Circe/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Circe';
    src: url('/assets/fonts/Circe/Circe-Bold.eot');
    src: local('Circe Bold'), local('Circe-Bold'),
    url('/assets/fonts/Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Circe/Circe-Bold.woff2') format('woff2'),
    url('/assets/fonts/Circe/Circe-Bold.woff') format('woff'),
    url('/assets/fonts/Circe/Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}




/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}





















.header--cont {
    display: flex;
    margin: 20px 0 120px;
    padding: 0 40px;
    border-top: 1px solid rgb(189, 189, 189);
    border-bottom: 1px solid rgb(189, 189, 189);
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.header--cont .logo {
    width: 194.42px;
    margin: 20px 16px 20px 0;
    padding-right: 16px;
    border-right: 1px solid rgb(189, 189, 189);
}

.header--cont .desc {
    color: rgb(130, 130, 130);
    font-family: Cygre, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 105%;

    max-width: 140px;
    margin: 20px 20px 20px 0;
}

.header--cont .nav-link {
    color: rgb(51, 51, 51);
    font-family: Circe, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;

    padding: 0 34px;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    border-left: 1px solid rgb(189, 189, 189);

    transition: all 0.3s;
}

.header--cont .nav-link:hover {
    border: 1px solid rgb(55, 112, 48);
    color: rgb(255, 255, 255);
    background: rgb(55, 112, 48);
}

.header--cont .nav-link.green {
    border: 1px solid rgb(55, 112, 48);
    color: rgb(255, 255, 255);
    background: rgb(55, 112, 48);
    min-width: 248px;
}

.header--cont .nav-link.green:hover {
    border: none;
    border-left: 1px solid rgb(189, 189, 189);
    border-right: 1px solid rgb(189, 189, 189);
    color: rgb(51, 51, 51);
    background: #fff;
    min-width: 248px;
}

.header--cont .contacts--cont {
    display: flex;
    flex-direction: column;
    margin-left: 34px;
    gap: 4px;
}

.header--cont .contacts--cont .tel {
    color: rgb(51, 51, 51);
    font-family: Circe, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;

    border-bottom: none;
    transition: all .3s;
    width: max-content;
}

.header--cont .contacts--cont .email {
    color: rgb(51, 51, 51);
    font-family: Circe, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;

    border-bottom: none;
    transition: all .3s;
    width: max-content;
}

.header--cont .contacts--cont .email:hover, .header--cont .contacts--cont .tel:hover {
    border-bottom: 1px solid rgb(189, 189, 189);
}



.top--block {
    display: flex;
    gap: 33px;
    max-width: 1440px;
    margin: 0 auto 100px;
    min-height: 686px;
    padding: 0 40px;
}

.top--block .main-img {
    width: 737px;
    height: max-content;
}

.top--block .col {
    display: flex;
    flex-direction: column;
}

.top--block .col h2 {
    max-width: 588px;
    color: rgb(51, 51, 51);
    font-family: Circe, sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -1%;
    text-transform: uppercase;

    margin-bottom: 30px;
}

.top--block .col ul {
    display: flex;
    flex-direction: column;
    margin: 0 0 44px;
    padding: 0 0 0 0;

    max-width: 537px;
    list-style-type: none;
}

.top--block .col ul li {
    color: rgb(64, 64, 64);
    font-family: Circe, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;

    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 16px;
}

.top--block .col ul li::before {
    content: url("../images/top-block/li-arrow.svg");
    margin-top: -8px;
}

.default-input {
    height: 61px;
    padding: 0 20px;
    border-radius: 40px;
    background: rgb(247, 249, 247);
    outline: none;
    border: none;

    color: rgb(153, 153, 153);
    font-family: Circe, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

.default-btn {
    color: rgb(242, 242, 242);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: rgb(79, 79, 79);

    border: none;
    outline: none;
    padding: 16px 45px;
    cursor: pointer;

    transition: background 0.3s;
}

.default-btn:hover, .default-btn:focus, .default-btn:active {
    background: rgb(0, 0, 0);
}

.top--block .input-cont {
    position: relative;
}

.top--block .input-cont .default-input {
    width: 490px;
    padding-right: 220px;
}

.top--block .input-cont .default-btn {
    position: absolute;
    right: 95px;
    top: 0;
}






.about--block {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    max-width: 1440px;
    margin: 0 auto 100px;
}

.about--block h3 {
    color: rgb(153, 153, 153);
    font-family: Cygre, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
}


.about--block .col {
    max-width: 900px;
}

.about--block .col {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about--block .col h2 {
    color: rgb(51, 51, 51);
    font-family: Circe, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
}

.about--block .col .row {
    display: flex;
    gap: 17px;
}

.about--block .col .row p {
    color: rgb(51, 51, 51);
    font-family: Circe, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}




.catalog--block {
    max-width: 1440px;
    margin: 0 auto 94px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 50px;
}

.catalog--block h2 {
    color: rgb(51, 51, 51);
    font-family: Circe, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
}

.catalog--block .products-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.catalog--block .products-row .product {
    width: 325px;
    padding: 30px;
    background: rgb(250, 250, 250);
}

.catalog--block .products-row .product h3 {
    margin: 12px 0 24px;

    color: rgb(51, 51, 51);
    font-family: Circe, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;
}

.catalog--block .products-row .product .row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(217, 217, 217);
    margin-bottom: 8px;
    align-items: center;
}

.catalog--block .products-row .product .row p {
    color: rgb(0, 0, 0);
    font-family: Circe, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.catalog--block .products-row .product .row h4 {
    color: rgb(0, 0, 0);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.order-btn {
    border: 1px solid rgb(55, 112, 48);
    outline: none;
    border-radius: 50px;
    background: inherit;

    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;

    color: rgb(51, 51, 51);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.order-btn:hover, .order-btn:focus, .order-btn:active {
    font-weight: 700;
    color: rgb(55, 112, 48);
}

.catalog--block .products-row .product .order-btn {
    margin-top: 24px;
    width: 100%;
}



.contact-block {
    width: 100%;
    height: 244px;

    display: flex;
    justify-content: center;

    background: rgb(65, 119, 59);
    margin-bottom: 100px;
}


.contact-block .content {
    max-width: 1440px;
    width: 100%;
    padding: 0 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-block .content h2 {
    color: #fff;
    font-family: Circe, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    max-width: 635px;
}

.contact-block .content .col {
    max-width: 575px;

    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.contact-block .content .col .row {
    display: flex;
    align-items: center;
    gap: 23px;
}

.contact-block .content .col .row input[type="checkbox"] {
    margin-right: 16px;
}

.contact-block .content .col .row label {
    color: #fff;
    font-family: Cygre, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    max-width: 231px;
    cursor: pointer;
}

.primary-btn {
    padding: 0 20px;
    border-radius: 50px;
    background: rgb(0, 0, 0);
    height: 60px;
    color: rgb(242, 242, 242);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;

    border: none;

    cursor: pointer;
    transition: all .3s ease-in-out;
}

.primary-btn:hover, .primary-btn:focus, .primary-btn:active {
    background: #fff;

    color: rgb(55, 112, 48);
    font-weight: 700;
}

.contact-block .content .col .row .primary-btn {
    width: 100%;
}



.advantages-block {
    padding: 0 50px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.advantages-block h2 {
    color: rgb(51, 51, 51);
    font-family: Circe, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
}


.advantages-block .cards {
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 510px;
    width: 100%;
}

.advantages-block .cards .card.large {
    height: 100%;
}

.advantages-block .cards .card {
    height: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    background: rgb(242, 242, 242);
    padding: 30px;
}

.advantages-block .cards .card img {
    width: 62px;
    margin-left: auto;
    margin-bottom: auto;
}

.advantages-block .cards .card h3 {
    max-width: 380px;

    color: rgb(51, 51, 51);
    font-family: Circe, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 16px;
}

.advantages-block .cards .card p {
    color: rgb(51, 51, 51);
    font-family: Circe, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;

    max-width: 380px;
}

.gallery-block {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto 100px;
    padding: 0 50px;
    gap: 30px;
}

.gallery-block h2 {
    text-align: center;

    color: rgb(0, 0, 0);
    font-family: Circe, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
}

.gallery-block .images {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 573px;
}

.gallery-block .images img {
    width: calc(50% - 10px);
}




.reviews-block {
    max-width: 1440px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto 100px;
    overflow: hidden;
}

.reviews-block .title-row {
    display: flex;
    justify-content: space-between;
}

.reviews-block .title-row h2 {
    color: rgb(51, 51, 51);
    font-family: Circe, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
}

.reviews-block .title-row .reviews-controls {
    display: flex;
    gap: 16px;
}

.reviews-block .title-row .reviews-controls > img {
    cursor: pointer;
}

.reviews-block .reviews-swiper {
    height: 574px;
    width: 100%;
}

.reviews-block .reviews-swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews-block .reviews-swiper .review {
    padding: 30px;
    background: rgb(242, 242, 242);
    height: 100%;

    display: flex;
    flex-direction: column;
}

.reviews-block .reviews-swiper .review .text {
    color: rgb(64, 64, 64);
    font-family: Circe, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: auto;
    /*max-width: 610px;*/
}

.reviews-block .reviews-swiper .review .reviewer {
    display: flex;
    align-items: center;
    /*max-width: 610px;*/
}

.reviews-block .reviews-swiper .review .reviewer > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 16px;
}


.reviews-block .reviews-swiper .review .reviewer .col {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.reviews-block .reviews-swiper .review .reviewer .col .name {
    color: rgb(0, 0, 0);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.reviews-block .reviews-swiper .review .reviewer .col .desc {
    color: rgb(153, 153, 153);
    font-family: Cygre, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}
