@font-face {
    font-family: 'Cygre';
    src: url('/assets/fonts/Cygre/Cygre-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cygre';
    src: url('/assets/fonts/Cygre/Cygre-BookIt.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Cygre';
    src: url('/assets/fonts/Cygre/Cygre-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Circe';
    src: url('/assets/fonts/Circe/Circe-Regular.eot');
    src: local('Circe'), local('Circe-Regular'),
    url('/assets/fonts/Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Circe/Circe-Regular.woff2') format('woff2'),
    url('/assets/fonts/Circe/Circe-Regular.woff') format('woff'),
    url('/assets/fonts/Circe/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Circe';
    src: url('/assets/fonts/Circe/Circe-Bold.eot');
    src: local('Circe Bold'), local('Circe-Bold'),
    url('/assets/fonts/Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Circe/Circe-Bold.woff2') format('woff2'),
    url('/assets/fonts/Circe/Circe-Bold.woff') format('woff'),
    url('/assets/fonts/Circe/Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}




/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}





















.header--cont {
    display: flex;
    margin: 20px 0 120px;
    padding: 0 40px;
    border-top: 1px solid rgb(189, 189, 189);
    border-bottom: 1px solid rgb(189, 189, 189);
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.header--cont .logo {
    width: 194.42px;
    margin: 20px 16px 20px 0;
    padding-right: 16px;
    border-right: 1px solid rgb(189, 189, 189);
}

.header--cont .desc {
    color: rgb(130, 130, 130);
    font-family: Cygre, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 105%;

    max-width: 140px;
    margin: 20px 20px 20px 0;
}

.header--cont .nav-link {
    color: rgb(51, 51, 51);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;

    padding: 0 34px;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    border-left: 1px solid rgb(189, 189, 189);

    transition: all 0.3s;
}

.header--cont .nav-link:hover {
    border: 1px solid rgb(55, 112, 48);
    color: rgb(255, 255, 255);
    background: rgb(55, 112, 48);
}

.header--cont .nav-link.green {
    border: 1px solid rgb(55, 112, 48);
    color: rgb(255, 255, 255);
    background: rgb(55, 112, 48);
    min-width: 248px;
}

.header--cont .nav-link.green:hover {
    border: none;
    border-left: 1px solid rgb(189, 189, 189);
    border-right: 1px solid rgb(189, 189, 189);
    color: rgb(51, 51, 51);
    background: #fff;
    min-width: 248px;
}

.header--cont .contacts--cont {
    display: flex;
    flex-direction: column;
    margin-left: 34px;
    gap: 4px;
}

.header--cont .contacts--cont .tel {
    color: rgb(55, 112, 48);
    font-family: Cygre, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;

    border-bottom: none;
    transition: all .3s;
    width: max-content;
}

.header--cont .contacts--cont .email {
    color: rgb(51, 51, 51);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;

    border-bottom: none;
    transition: all .3s;
    width: max-content;
}

.header--cont .contacts--cont .email:hover, .header--cont .contacts--cont .tel:hover {
    border-bottom: 1px solid rgb(189, 189, 189);
}



.top--block {
    display: flex;
    gap: 33px;
    max-width: 1440px;
    margin: 0 auto 100px;
    min-height: 686px;
    padding: 0 40px;
}

.top--block .main-img {
    width: 737px;
    height: max-content;
}

.top--block .col {
    display: flex;
    flex-direction: column;
}

.top--block .col h2 {
    max-width: 588px;
    color: rgb(51, 51, 51);
    font-family: Cygre, sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -1%;
    text-transform: uppercase;

    margin-bottom: 30px;
}

.top--block .col ul {
    display: flex;
    flex-direction: column;
    margin: 0 0 44px;
    padding: 0 0 0 0;

    max-width: 587px;
    list-style-type: none;
}

.top--block .col ul li {
    color: rgb(64, 64, 64);
    font-family: Cygre, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;

    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 16px;
}

.top--block .col ul li::before {
    content: url("../images/top-block/li-arrow.svg");
    margin-top: -8px;
}

.default-input {
    height: 61px;
    padding: 0 20px;
    border-radius: 40px;
    background: rgb(247, 249, 247);
    outline: none;
    border: none;

    color: rgb(153, 153, 153);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

.default-btn {
    color: rgb(242, 242, 242);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: rgb(0, 0, 0);

    border: none;
    outline: none;
    padding: 16px 45px;
    cursor: pointer;

    transition: background 0.3s;
}

.default-btn:hover {
    background: rgb(169, 199, 152);
}

.default-btn:focus, .default-btn:active {
    background: rgb(55, 112, 48);
}

.top--block .input-cont {
    position: relative;
}

.top--block .input-cont .default-input {
    width: 490px;
    padding-right: 220px;
}

.top--block .input-cont .default-btn {
    position: absolute;
    right: 95px;
    top: 0;
}






.about--block {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    max-width: 1440px;
    margin: 0 auto 100px;
}

.about--block h3 {
    color: rgb(153, 153, 153);
    font-family: Cygre, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
}


.about--block .col {
    max-width: 900px;
}

.about--block .col {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about--block .col h2 {
    color: rgb(51, 51, 51);
    font-family: Cygre, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
}

.about--block .col .row {
    display: flex;
    gap: 17px;
}

.about--block .col .row p {
    color: rgb(51, 51, 51);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}




.catalog--block {
    max-width: 1440px;
    margin: 0 auto 94px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 50px;
}

.catalog--block h2 {
    color: rgb(51, 51, 51);
    font-family: Cygre, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
}

.catalog--block .products-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.catalog--block .product {
    width: 320px;
    padding: 30px;
    background: rgb(250, 250, 250);
}

.catalog--block .product h3 {
    margin: 12px 0 24px;

    color: rgb(51, 51, 51);
    font-family: Cygre, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;
}

.catalog--block .product .row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(217, 217, 217);
    margin-bottom: 8px;
    align-items: center;
}

.catalog--block  .product .row p {
    color: rgb(153, 153, 153);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.catalog--block .product .row h4 {
    color: rgb(0, 0, 0);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.order-btn {
    border: 1px solid rgb(55, 112, 48);
    outline: none;
    border-radius: 50px;
    background: inherit;

    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;

    color: rgb(55, 112, 48);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 600;

    transition: all .3s;
}

.order-btn:hover {
    border: 1px solid rgb(55, 112, 48);
    background: rgb(169, 199, 152);
}

.order-btn:focus, .order-btn:active {
    background: rgb(55, 112, 48);
    color: rgb(255, 255, 255);
}

.catalog--block .product .order-btn {
    margin-top: 24px;
    width: 100%;
}



.contact-block {
    width: 100%;
    height: 244px;

    display: flex;
    justify-content: center;

    background: rgb(65, 119, 59);
    margin-bottom: 100px;
}


.contact-block .content {
    max-width: 1440px;
    width: 100%;
    padding: 0 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-block .content h2 {
    color: #fff;
    font-family: Cygre, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    max-width: 635px;
}

.contact-block .content .col {
    max-width: 575px;

    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.contact-block .content .col .row {
    display: flex;
    align-items: center;
    gap: 23px;
}

.contact-block .content .col .row input[type="checkbox"] {
    margin-right: 16px;
}

.contact-block .content .col .row label {
    color: #fff;
    font-family: Cygre, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    max-width: 231px;
    cursor: pointer;
}

.primary-btn {
    padding: 0 20px;
    border-radius: 50px;
    background: rgb(255, 255, 255);
    height: 60px;
    color: rgb(55, 112, 48);
    font-weight: 600;
    font-family: Cygre, sans-serif;
    font-size: 16px;
    border: none;

    cursor: pointer;
    transition: all .3s ease-in-out;
}

.primary-btn:hover{
    background: rgb(247, 249, 247);
}

.primary-btn:focus, .primary-btn:active {
    background: rgb(169, 199, 152);
}

.contact-block .content .col .row .primary-btn {
    width: 100%;
}



.advantages-block {
    padding: 0 50px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.advantages-block h2 {
    color: rgb(51, 51, 51);
    font-family: Cygre, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
}


.advantages-block .cards {
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 510px;
    width: 100%;
}

.advantages-block .card.large {
    height: 100%;
}

.advantages-block .card {
    height: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    background: rgb(242, 242, 242);
    padding: 30px;
}

.advantages-block .card img {
    width: 62px;
    margin-left: auto;
    margin-bottom: auto;
}

.advantages-block .card h3 {
    max-width: 380px;

    color: rgb(51, 51, 51);
    font-family: Cygre, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 16px;
}

.advantages-block .card p {
    color: rgb(51, 51, 51);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;

    max-width: 380px;
}

.gallery-block {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto 100px;
    padding: 0 50px;
    gap: 30px;
}

.gallery-block h2 {
    text-align: center;

    color: rgb(0, 0, 0);
    font-family: Cygre, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
}

.title-row .gallery-controls {
    display: flex;
    gap: 16px;
}

.title-row .gallery-controls > img {
    cursor: pointer;
}

.swiper-gallery {
    width: 100%;
}

.gallery-block .swiper-gallery .swiper-slide {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery-block .swiper-gallery .swiper-slide > img:nth-of-type(1), .gallery-block .swiper-gallery .swiper-slide > img:nth-of-type(2) {
    width: calc(50% - 10px);
    height: 570px;
    object-fit: cover;
}

.gallery-block .swiper-gallery .swiper-slide > img:nth-of-type(3), .gallery-block .swiper-gallery .swiper-slide > img:nth-of-type(4), .gallery-block .swiper-gallery .swiper-slide > img:nth-of-type(5) {
    width: calc(33% - 9px);
    height: 570px;
}


.reviews-block {
    max-width: 1440px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto 100px;
    overflow: hidden;
}

.title-row {
    display: flex;
    justify-content: space-between;
}

.title-row h2 {
    color: rgb(51, 51, 51);
    font-family: Circe, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
}

.title-row .reviews-controls {
    display: flex;
    gap: 16px;
}

.title-row .reviews-controls > img {
    cursor: pointer;
}

.reviews-block .reviews-swiper {
    height: 574px;
    width: 100%;
}

.reviews-block .reviews-swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews-block .review {
    padding: 30px;
    background: rgb(242, 242, 242);
    height: 100%;

    display: flex;
    flex-direction: column;
}

.reviews-block .review .text {
    color: rgb(64, 64, 64);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: auto;
    /*max-width: 610px;*/
}

.reviews-block .review .reviewer {
    display: flex;
    align-items: center;
    /*max-width: 610px;*/
}

.reviews-block .review .reviewer > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 16px;
}


.reviews-block .review .reviewer .col {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.reviews-block .review .reviewer .col .name {
    color: rgb(0, 0, 0);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.reviews-block .review .reviewer .col .desc {
    color: rgb(153, 153, 153);
    font-family: Cygre, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}








.contact-block-s {
    height: 329px;
}

.contact-block-s .col-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 624px;
}

.contact-block-s .col-text h2 {
    color: #fff;
    font-family: Cygre, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
}

.contact-block-s .col-text p {
    color: #fff;
    font-family: Cygre, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
}


.pr-section {
    max-width: 1440px;
    margin: 0 auto 100px;
}

.pr-section h2 {
    color: rgb(51, 51, 51);
    font-family: Cygre, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 30px;
}

.pr-section p {
    color: rgb(51, 51, 51);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
}








.contacts-block {
    max-width: 1440px;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts-block h2 {
    margin-bottom: 10px;

    color: rgb(51, 51, 51);
    font-family: Cygre, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
}


.contacts-block .row {
    display: flex;
    gap: 20px;
}

.contacts-block .row .block {
    width: 100%;
    background: rgb(242, 242, 242);
    padding: 30px;
}

.contacts-block .row .block h3 {
    color: rgb(51, 51, 51);
    font-family: Cygre, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;

    margin-bottom: 16px;
}

.contacts-block .row .block p {
    color: rgb(51, 51, 51);
    font-family: Cygre, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
}

.contacts-block .row .block > * {
    margin-bottom: 8px;
}

.contacts-block .row .block .block-row {
    display: flex;
    justify-content: space-between;
}

.footer {
    width: 100%;
    height: 170px;
    background: rgb(79, 79, 79);
}

.footer .content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.footer .content .logo-cont {
    display: flex;
    gap: 16px;
    margin-right: auto;
}

.footer .content .logo-cont img {
    padding-right: 16px;
    border-right: 1px solid rgb(189, 189, 189);
}

.footer .content .logo-cont p {
    color: rgb(130, 130, 130);
    font-family: Cygre, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 110%;
    max-width: 125px;
}

.footer .content nav {
    display: flex;
    gap: 64px;

}

.footer .content nav a {
    color: rgb(242, 242, 242);
    font-family: Cygre, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    border-bottom: 1px solid  rgb(79, 79, 79);
    transition: all .3s;
}

.footer .content nav a:hover {
    border-bottom: 1px solid #fff;
}

.footer .content .contacts {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: auto;
}

.footer .content .contacts .tel {
    color: rgb(255, 255, 255);
    font-family: Cygre, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 110%;
    text-align: right;
}

.footer .content .contacts .email {
    color: rgb(255, 255, 255);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    text-align: right;
}

.qa-section {
    display: flex;
    gap: 39px;
    max-width: 1440px;
    margin: 0 auto 100px;
    width: 100%;
}

.qa-section > img {
    width: 485px;
    margin-top: auto;
}

.qa-section .col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.qa-section .col h2 {
    color: rgb(0, 0, 0);
    font-family: Cygre, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 30px;
}

.qa-section .col .question {
    border: 1px solid rgb(217, 217, 217);
    background: rgb(255, 255, 255);
}

.qa-section .col .question:not(:last-of-type) {
    margin-bottom: 30px;
}

.qa-section .col .question h3 {
    color: rgb(64, 64, 64);
    font-family: Cygre, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;
    padding: 24px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qa-section .col .question.active h3 {
    padding-bottom: 16px;
}

.qa-section .col .question h3:after {
    content: url("../images/qa/arrow.svg");
    transform: rotate(180deg);
    transition: all .3s ease-in-out;
}

.qa-section .col .question.active h3:after {
    transform: rotate(0);
}

.qa-section .col .question p {
    display: none;

    /* Desktop/text */
    color: rgb(153, 153, 153);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    padding: 0 24px 24px;
}

.qa-section .col .question.active p {
    display: block;
}

.reply-pop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);

    display: none;
}

.reply-pop.active {
    display: flex;
}

.reply-pop .content {
    display: flex;
    position: relative;
    flex-direction: column;
    background: #fff;
    width: 650px;
    padding: 50px;
}

.reply-pop .content h3 {
    /* Desktop/H3 */
    color: rgb(0, 0, 0);
    font-family: Cygre, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 110%;
    max-width: 393px;

    margin-bottom: 16px;
}

.reply-pop .content p.text {
    /* Desktop/text */
    color: rgb(64, 64, 64);
    font-family: Cygre, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 24px;
    max-width: 393px;
}

.reply-pop .content .default-input {
     max-width: 393px;
     margin-bottom: 16px;
}

.reply-pop .content .row {
    max-width: 393px;
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}

.reply-pop .content .row label {
    color: rgb(0, 0, 0);
    font-family: Cygre, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.reply-pop .content .default-btn {
    max-width: 393px;
}

.reply-pop .content .bg-img {
    position: absolute;
    height: 100%;
    width: auto;
    right: 0;
    top: 0;
}

#s-pop .content {
    min-height: 387px;
    justify-content: center;
}

#s-pop .content h3, #s-pop .content p {
    max-width: 266px;
}

#s-pop .default-btn {
    width: 201px;
}

@media screen and (min-width: 1441px) {
    .product-swiper, .swiper-gallery-mob, .cards-swiper, .reviews-mob-swiper {
        display: none!important;
    }
}

@media screen and (max-width: 1440px) {
    .header--cont {
        flex-wrap: wrap;
        border-top: 0;
        height: max-content;
        margin: 0 0 46px;
        padding: 0;
        width: 100%;
    }

    .header--cont .nav-link:not(.green), .header--cont .desc {
        display: none;
    }

    .header--cont .nav-link.green {
        height: 55px;
        order: 2;
        margin-right: 20px;
        width: max-content;
        min-width: 164px;
        padding: 0;
    }

    .header--cont .logo {
        border-right: 0;
        order: 1;
        margin: 0 auto 0 20px;
        width: auto;
        padding: 10px 0 10px 10px;
        height: 55px;
        border-left: 1px solid rgb(217, 217, 217);
    }

    .header--cont .contacts--cont {
        order: 0;
        width: 100%;
        flex-direction: row;
        padding: 0 20px;
        align-items: center;
        justify-content: space-between;
        margin-left: 0;
        border-bottom: 1px solid rgb(217, 217, 217);
    }

    .header--cont .contacts--cont > * {
        padding: 10px 0;
    }

    .header--cont .contacts--cont .tel {
        border-left: 1px solid rgb(217, 217, 217);
    }

    .header--cont .contacts--cont .email {
        border-right: 1px solid rgb(217, 217, 217);
    }

    .top--block {
        padding: 0 20px;
        margin-bottom: 62px;
        min-height: 0;
    }

    .top--block .main-img {
        display: none;
    }

    .top--block .col {
        width: 100%;
    }

    .top--block .col h2 {
        font-size: 35px;
    }

    .top--block .col ul li {
        font-size: 17px;
        margin-bottom: 12px;
    }

    .top--block .input-cont .default-input {
        width: 100%;
    }

    .top--block .input-cont {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .top--block .input-cont .default-btn {
        position: initial;
        width: 100%;
    }

    .about--block {
        flex-direction: column;
        padding: 0 20px;
        margin-bottom: 60px;
    }

    .about--block h3 {
        margin-bottom: 16px;
    }

    .about--block .col {
        gap: 24px;
    }

    .about--block .col h2 {
        font-size: 30px;
    }

    .about--block .col .row {
        flex-direction: column;
        gap: 12px;
    }

    .catalog--block {
        padding: 0 20px;
        gap: 24px;
        margin-bottom: 60px;
    }

    .catalog--block h2 {
        font-size: 30px;
    }

    .catalog--block .product {
        padding: 20px;
    }

    .catalog--block .products-row {
        display: none;
    }

    .product-swiper {
        width: 100%;
        position: relative;
        padding-bottom: 35px!important;
    }

    .default-pagination {
        --swiper-pagination-bullet-horizontal-gap: 4px;
        --swiper-pagination-color: rgb(169, 199, 152);
        --swiper-pagination-bullet-width: 12px;
        --swiper-pagination-bullet-height: 12px;
        --swiper-pagination-top: auto;
        --swiper-pagination-bottom: 0px;
        --swiper-pagination-bullet-inactive-color: transparent;
    }

    .default-pagination .swiper-pagination-bullet {
        border: 1px solid rgb(169, 199, 152);
    }

    .contact-block {
        height: max-content;
        margin-bottom: 60px;
    }

    .contact-block .content {
        display: flex;
        padding: 30px 20px;
        flex-direction: column;
    }

    .contact-block .content h2 {
        font-size: 30px;
        margin-bottom: 23px;
    }

    .contact-block .content .col .row {
        flex-wrap: wrap;
        gap: 8px;
    }

    .contact-block .content .col .row label {
        max-width: 280px;
        width: 100%;
    }

    .contact-block .content .col .row input[type="checkbox"] {
        margin-right: 0;
    }

    .advantages-block {
        padding: 0 20px;
        gap: 24px;
        margin-bottom: 60px;
    }

    .advantages-block h2 {
        font-size: 30px;
    }

    .advantages-block .cards {
        display: none;
    }

    .cards-swiper .card {
        height: 100%;
        padding: 20px;
        position: relative;
        min-height: 275px;
        width: max-content;
    }

    .cards-swiper .card img {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 27px;
    }

    .cards-swiper .card h3 {
        max-width: 203px;
        font-size: 22px;
    }


    .cards-swiper {
        width: 100%;
        position: relative;
        padding-bottom: 35px!important;
    }

    .title-row .gallery-controls, .title-row .reviews-controls {
        display: none;
    }

    .gallery-block, .reviews-block {
        padding: 0 20px;
        margin-bottom: 60px;
    }

    .title-row h2 {
        font-size: 30px;
    }

    .swiper-gallery {
        display: none!important;
    }

    .swiper-gallery-mob {
        width: 100%;
        position: relative;
        padding-bottom: 35px!important;
    }

    .swiper-gallery-mob .swiper-slide img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }

    .reviews-swiper {
        display: none!important;
    }

    .reviews-block .review {
        height: auto!important;
    }

    .reviews-mob-swiper {
        width: 100%;
        position: relative;
        padding-bottom: 35px!important;
    }

    .reviews-block .review .text {
        margin-bottom: auto;
    }

    .reviews-block .review .reviewer {
        margin-top: 80px;
    }

    .contact-block-s .col-text {
        gap: 0;
    }

    .contact-block-s .col-text p {
        margin-bottom: 24px;
    }

    .qa-section {
        padding: 0 20px;
        margin-bottom: 60px;
    }

    .qa-section .col .question:not(:last-of-type) {
        margin-bottom: 16px;
    }

    .qa-section > img {
        display: none;
    }

    .qa-section .col h2 {
        font-size: 30px;
    }

    .pr-section {
        padding: 0 20px;
        margin-bottom: 60px;
    }

    .contacts-block {
        padding: 0 20px;
    }

    .contacts-block .row {
        flex-direction: column;
        gap: 16px;
    }

    .footer {
        height: max-content;
    }

    .footer .content {
        flex-wrap: wrap;
        padding: 30px 20px;
    }

    .footer .content .logo-cont {
        flex-direction: column;
        margin-left: auto;
        max-width: 182px;
        margin-bottom: 32px;
    }

    .footer .content .logo-cont img {
        width: 175px;
        border-right: 0;
        padding-bottom: 5px;
        border-bottom: 1px solid rgb(189, 189, 189);
    }

    .footer .content .logo-cont p {
        text-align: center;
        font-size: 14px;
        width: 100%;
        max-width: initial;
    }

    .footer .content nav {
        gap: 16px;
        margin: 0 auto 28px;
    }

    .footer .content nav a {
        font-size: 16px;
    }

    .footer .content .contacts .tel, .footer .content .contacts .email {
        text-align: center;
    }

    .footer .content .contacts {
        margin: 0 auto;
    }


    .reply-pop .content {
        height: max-content;
        margin: 0 20px;
        padding: 50px 20px;
    }

    .reply-pop .content p, .reply-pop h3 {
        text-align: center;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .reply-pop .content .default-btn {
        margin-left: auto;
        margin-right: auto;
    }

    #s-pop .content {
        min-height: 260px;
    }

    .reply-pop .content .bg-img {
        display: none;
    }
}
